#results{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#results .loading-indication{
	width: 100%;
	height: 100%;
	background:#FFFFFF;
	padding:10px;
	position: absolute;
	line-height: 300px;
  	text-align: center;
}

.paginate {
	padding: 0px;
	margin: 0px;
	height: 40px;
	//display: block;
	text-align: center;
	overflow-x: scroll;
    overflow-y: hidden;
}

.paginate_box {
	//display: inline-block;
	//list-style: none;
	padding: 1px;
	//margin-right: 1px;
	width: 40px;
	text-align: center;
	background: #0047B2;
	line-height: 25px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.paginate_box a{
	color: #FFFFFF;
}

.paginate .active {
	//display: inline-block;
	list-style: none;
	padding: 0px;
	margin-right: 1px;
	width: 40px;
	text-align: center;
	line-height: 25px;
	background-color: #99B5E0;
	color: #FFFFFF;
}

.paginate li a{
	color:#FFFFFF;
	text-decoration:none;
}

.page_result{
	padding: 0px;
}

.page_result li{
	background: #E0E9F6;
	margin-bottom: 5px;
	padding: 10px;
	font-size: 12px;
	list-style: none;
}

.page_result .page_name {
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
}
